
/* Adiciona um espaço entre o card e a img */
.espaco-img {
    padding: 15px;

}

.itens {
    margin-top: 15px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
      
}

.card {
    background-color:  whitesmoke;
}